
.login-page{
    border: solid 2px white;
    width: min(80%,400px);
    height: min(90%,550px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px white;
}

.login-page > p {
    color: white;
}


.extra-styling{
    display: inline;
    position: relative;
    top: 180px;
    color: white;
    font-size: 50px;
    z-index: 1;
}


.login--forgot--password{
    color: white;
}

.login-title{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}
