.login-page{
    border: solid 2px white;
    height: 440px;
    max-width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px white;
}


.login-box-above-text{
    display: inline;
    position: relative;
    top: 180px;
    color: white;
    font-family: couture;
    font-size: 50px;
    z-index: 1;

}

.login--forgot--password{
    color: white;


    z-index: 1;
}
.login-box{
    position: absolute;
    bottom: 320px;
}


.login-title{
    color: white;
    font-size: 45px;
}