<<<<<<< HEAD
.login-page{
    border: solid 2px white;
    width: 450px;
    height: 440px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px white;
}


.login-box-above-text{
    display: inline;
    position: relative;
    top: 60px;
    color: white;
    font-family: couture;
    font-size: 50px;
    text-shadow: 2px 1px 4px white;
=======
.login-title{
    font-size: 50px;
}

.Nikker{
    font-size: 50px;
>>>>>>> 022ece2c284861cd90bd0424bcba34898d33a05e
}