.profile-text{
    border: 2px solid wheat;
    width: min(90%,1000px);
    margin-inline: auto;
    
}

.welcome-text{
    color: white !important;
}



.profile-page{
    /* background */
}


/* profile-information-tiny-text */
.profile-user-text{
    color: black !important;
}

.profile-picture{
    border: solid black 1px !important;
    border-radius: 24px;
    padding: 100px;
}

.profile-content{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.profile-information{
    border: solid 3px black;
    border-radius: 20px;
}

.profile-information .form-control{
    background-color: blue;
}

