@font-face {
    font-family: caviardream;
    src: url(../fonts/caviar_dreams/CaviarDreams.ttf);
}


@font-face {
    font-family: couture;
    src: url(../fonts/couture/couture-bld.otf);
}

body{
    background-image: url(../images/pexels-ian-panelo-10722260.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.register--page { 
    border: solid 2px white;
    width: 450px;
    height: 640px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px white;
}


.already-registered{
    color: white !important;
    position: absolute;
    height: 30px;
    inset: 0;
    margin: auto;
    top: 580px;
    text-align: center;
}


.register-box-above{
    display: inline;
    position: static;
}

.register-box-above-text{
    color: white;
    font-family: couture;
    font-size: 50px;
    margin-top: -15px;
    text-shadow: 2px 1px 4px white;
}

.register-content{
    position: relative;
    bottom: 70px;
    width: 300px;
}
#register-text{
    background-color: transparent;
    box-shadow: white 0px 0px 5px;
    color: white;
}

#register-option{
    color: red;
}
.register-text-tiny{
    color: white !important;
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 4px;
}

#register-text::placeholder{
    color: white;
    font-size: 15px;
    font-family: caviardream;
}

.register-button{
    background-color: white !important;
    color: black !important;
    border-radius: 20px;
    margin-top: 7px;
    height: 36px;
    font-weight: bolder;
    font-size: 15px;
}

.nav--register{
    background-color: black !important;
}