.bg-default-image {
    background-image: url("/images/default.jpg");
    background-size: 100%;
    background-position: center;
    height: 150px;
    text-shadow: 2px 2px 8px #fff;
}

.logo {
    text-shadow: 2px 2px navy;
    text-transform: uppercase;
}

.active {
    background-color: navy;
}