

.logo {
    text-shadow: 2px 2px navy;
    text-transform: uppercase;
}



.dropdown-bg{
    background-color: rgb(34, 34, 34) !important;
    padding: 10px !important;
    text-align: center !important;
    margin-bottom: 0;
    font-size: 16px !important;
} 

/* Editor Expansion */
.editor-container {
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
    max-height: 700px;
    overflow-y: auto;
    color: white;
}

/* Editor Post/Camera Button */

.post-camera-button-dashboard{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 25px;
    position: relative;
    
}


/* background login/register */

.image-bg{
    height: 100vh;
    background-image: url(../images/pexels-ian-panelo-10722260.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* Pagination */
.pagination {
    gap: 2rem;
    border: 1px solid black !important;
    width: max(50%,300px);
    padding: 10px;
    border-radius: 40px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    
}

.pages {
    list-style: none;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.focused{
    color: white;
    border: white 2px solid;

    border-radius: 200px;
    width: 50px;
    background-color: transparent;
    transition: .2s;
    flex-shrink: 0;
}
.page-link{
    background-color: transparent;
    border: hidden;
    color: white;
    flex-shrink: 0;


}
.focused:hover{
    opacity: .8;
    flex-shrink: 0;
}

.page-link:hover{
    background-color: transparent;
    color: white;
    opacity: 0.7;
    flex-shrink: 0;
}

.page-link:active{
    background-color: transparent;
    color: white;
}

.page-previous {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 6px black;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    justify-content: center;
    flex-shrink: 0;
}

.page-next {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 6px black;
    height: 50px ;
    width: 50px;
    border-radius: 40px;
    justify-content: center;
    flex-shrink: 0;
}

/* profile-page-wallpaper */
.profile-bg{
    height: 100vh;
    background-image: url(../images/download\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;

}