

.logo {
    text-shadow: 2px 2px navy;
    text-transform: uppercase;
}



.dropdown-bg{
    background-color: rgb(34, 34, 34) !important;
    padding: 10px !important;
    text-align: center !important;
    margin-bottom: 0;
    font-size: 16px !important;
} 

/* Editor Expansion */
.editor-container {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
    max-height: 700px;
    overflow-y: auto;
}

/* background login/register */

.image-bg{
    height: 100vh;
    background-image: url(../images/pexels-ian-panelo-10722260.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* Pagination */
.pagination {
    gap: 2rem;
    
}

.pages {
    border: 2px solid  gray;
    padding: 10px;
    margin: 10px;
    padding-block: 5px;
    list-style: none;
    display: grid;
    place-items: center;
}

.focused{
    background-color: black;
    color: white;
}

.page-link {
    display: flex;
    font-size: 25px;
    margin: 10px;

}

.page-previous {
    display: flex;
    align-items: center;
    border: 2px solid  gray;
    padding: 15px;
    padding-block: 5px;
    margin: 10px;
}

.page-next {
    display: flex;
    align-items: center;
    border: 2px solid  gray;
    padding: 15px;
    padding-block: 5px;
    margin: 10px;
    
}

/* profile-page-wallpaper */
.profile-bg{
    height: 100vh;
    background-image: url(../images/download\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;

}