.container {

    text-shadow: 2px 2px 8px #fff;
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    position: relative;
}
.container::after{
    content:'';
    position: absolute;
    background-color: pink;
    z-index: -1;
    inset: 0;
    isolation: isolate;
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-image: url("../images/pexels-iriser-1366957.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
}
.logo {
    text-shadow: 2px 2px navy;
    text-transform: uppercase;
}

.active {
    background-color: navy;
}

.dropdown-bg{
    background-color: navy !important;
    padding: 10px !important;
    text-align: center !important;
    margin-bottom: 0;
    font-size: 16px !important;
} 

/* Editor Expansion */
.editor-container {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
    max-height: 700px;
    overflow-y: auto;
}

/* background login/register */

.image-bg{
    height: 100vh;
    background-image: url(../images/pexels-ian-panelo-10722260.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}